<h1 class="text-center">Your <%= current_user.grail.capitalize %> Journey</h1>

<h2 class="text-center"><%= current_user.grail.capitalize %> Over Time</h2>
<%= line_chart @survey_data,
  colors: ["salmon", "#6495ed"],
  width: "100%", height: "20em",
  label: current_user.grail.capitalize,
  min: 1, max: 10,
  xtitle: "Time", ytitle: current_user.grail.capitalize,
  discrete: true
%>

<h2 class="text-center">Pictures of <%= current_user.grail.capitalize %></h2>
<div id="links">
  <% @reports.each do |report| %>
    <% img_thumb = attachment_url(report, :image, :fill, 140, 140, format: "jpg", fallback: 'break.jpg') %>
    <% img_large = attachment_url(report, :image, :fill, 500, 500, format: "jpg", fallback: 'break.png') %>
    <%= link_to image_tag(img_thumb, title: report.created_at.to_s), img_large, data: { gallery: '' } %>
  <% end %>
</div>

<%= render 'layouts/lightbox' %>
